* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: hsl(0, 0%, 94%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 35rem;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    width: 75%; 
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 80px;
    margin: 10px 5px;
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

button {
    background-color: #6c5ce7;
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 24px;
    height: 24px;
}

.resultado p {
    font-size: 36px;
    margin: 10px 0;
}

.resultado span {
    font-weight: bold;
    color: hsl(259, 100%, 65%);
}

.texto-p{
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    font-style: italic;
}
